<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='linux-svgrepo-com.svg') }}">
</head>
<body>
    
    <div class="buttons">
        <h1>Hi, I'm Jeromel Pushparaj</h1>
        <a href="{{ url_for('main.page1') }}" class="button">Clock</a>
        <a href="{{ url_for('main.page2') }}" class="button">CSS cinematic Movie</a>
        <a href="{{ url_for('main.page3') }}" class="button">Smooth Scrolling</a>
        <a href="{{ url_for('main.page4') }}" class="button">Prespective</a>
    </div>
</body>
</html>
